@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #483d8b ,rgb(197, 49, 49));
    text-align: justify;
    
}

h1{
    color: #ffffff;
    text-align: center;
}

main{
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(197, 49, 49);
    width: 600px;
    padding: 5px;
    margin: auto;
    background-attachment: fixed;
    margin: auto;
}

p{
    text-align: justify;
}

a{
    color: rgba(95, 11, 11, 0.5);
    text-align: left;
    
}

a:visited{
    color: rgb(12, 100, 50);
    
}

a:active{
    color: steelblue;
}

h2{
    color: white;
    text-align: center;
}



