@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #e0e6e9, #FCFFF5);
}

main{
background-color:#91AA9D;
border-radius: 8px;
box-shadow: 10px 10px 10px cornflowerblue ;
width: 600px;
padding: 10px;
margin: auto;
}

h1{
    color:#193441;
    text-align: center;
    text-shadow: 1px 1px 2px #91AA9D;
}

h2{
    color: #193441;
}

p{
    text-align: justify;
}